[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/cclow/vim-bufexplorer.git
